In [3]:
#tabular data imports :
import pandas as pd
import numpy as np
import env
from env import user, password, host
from pydataset import data

# visualization imports:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

# success metrics from earlier in the week: mean squared error and r^2 explained variance
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures

#stats
from scipy.stats import pearsonr, spearmanr
from scipy.stats import shapiro

import warnings
warnings.filterwarnings("ignore")
import wrangle as w
import os
directory = os.getcwd()

In [4]:
df = w.acquire_zillow()
df.head(3)

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,buildingclasstypeid,buildingclassdesc,heatingorsystemtypeid,heatingorsystemdesc,propertylandusetypeid,propertylandusedesc,storytypeid,storydesc,typeconstructiontypeid,typeconstructiondesc
0,0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,None,NaN,None,269,Planned Unit Development,NaN,None,NaN,None
1,1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,None,NaN,None,261,Single Family Residential,NaN,None,NaN,None
2,2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,...,5.0,Specialized buildings that do not fit in any of the above categories,NaN,None,47,Store/Office (Mixed Use),NaN,None,NaN,None

In [5]:
w.summarize(df)

--------------------------------
--------------------------------
Information on DataFrame:
Shape of Dataframe: (77613, 79)
--------------------------------
Basic DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77613 entries, 0 to 77612
Data columns (total 79 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77613 non-null  int64
 1   parcelid                      77613 non-null  int64
 2   airconditioningtypeid         21456 non-null  float64
 3   architecturalstyletypeid      151 non-null    float64
 4   basementsqft                  45 non-null     float64
 5   bathroomcnt                   77613 non-null  float64
 6   bedroomcnt                    77613 non-null  float64
 7   buildingclasstypeid           383 non-null    float64
 8   buildingqualitytypeid         50321 non-null  float64
 9   calculatedbathnbr             74390 non-null  float64
 10  decktypeid                    513 non-null    float64
 11  finishedfloor1squarefeet      5973 non-null   float64
 12  calculatedfinishedsquarefeet  76501 non-null  float64
 13  finishedsquarefeet12          70963 non-null  float64
 14  finishedsquarefeet13          235 non-null    float64
 15  finishedsquarefeet15          4758 non-null   float64
 16  finishedsquarefeet50          5973 non-null   float64
 17  finishedsquarefeet6           545 non-null    float64
 18  fips                          77613 non-null  float64
 19  fireplacecnt                  8412 non-null   float64
 20  fullbathcnt                   74390 non-null  float64
 21  garagecarcnt                  23300 non-null  float64
 22  garagetotalsqft               23300 non-null  float64
 23  hashottuborspa                1258 non-null   float64
 24  heatingorsystemtypeid         48474 non-null  float64
 25  latitude                      77613 non-null  float64
 26  longitude                     77613 non-null  float64
 27  lotsizesquarefeet             70534 non-null  float64
 28  poolcnt                       14261 non-null  float64
 29  poolsizesum                   777 non-null    float64
 30  pooltypeid10                  424 non-null    float64
 31  pooltypeid2                   834 non-null    float64
 32  pooltypeid7                   13409 non-null  float64
 33  propertycountylandusecode     77612 non-null  object
 34  propertylandusetypeid         77613 non-null  float64
 35  propertyzoningdesc            51361 non-null  object
 36  rawcensustractandblock        77613 non-null  float64
 37  regionidcity                  76087 non-null  float64
 38  regionidcounty                77613 non-null  float64
 39  regionidneighborhood          30512 non-null  float64
 40  regionidzip                   77338 non-null  float64
 41  roomcnt                       77612 non-null  float64
 42  storytypeid                   45 non-null     float64
 43  threequarterbathnbr           8204 non-null   float64
 44  typeconstructiontypeid        166 non-null    float64
 45  unitcnt                       51289 non-null  float64
 46  yardbuildingsqft17            2423 non-null   float64
 47  yardbuildingsqft26            66 non-null     float64
 48  yearbuilt                     76443 non-null  float64
 49  numberofstories               18119 non-null  float64
 50  fireplaceflag                 125 non-null    float64
 51  structuretaxvaluedollarcnt    76348 non-null  float64
 52  taxvaluedollarcnt             76688 non-null  float64
 53  assessmentyear                77613 non-null  float64
 54  landtaxvaluedollarcnt         76002 non-null  float64
 55  taxamount                     77102 non-null  float64
 56  taxdelinquencyflag            1504 non-null   object
 57  taxdelinquencyyear            1504 non-null   float64
 58  censustractandblock           75518 non-null  float64
 59  airconditioningtypeid         21456 non-null  float64
 60  airconditioningdesc           21456 non-null  object
 61  id                            77613 non-null  int64
 62  parcelid                      77613 non-null  int64
 63  logerror                      77613 non-null  float64
 64  transactiondate               77613 non-null  object
 65  propertylandusetypeid         77613 non-null  int64
 66  propertylandusedesc           77613 non-null  object
 67  architecturalstyletypeid      151 non-null    float64
 68  architecturalstyledesc        151 non-null    object
 69  buildingclasstypeid           383 non-null    float64
 70  buildingclassdesc             383 non-null    object
 71  heatingorsystemtypeid         48474 non-null  float64
 72  heatingorsystemdesc           48474 non-null  object
 73  propertylandusetypeid         77613 non-null  int64
 74  propertylandusedesc           77613 non-null  object
 75  storytypeid                   45 non-null     float64
 76  storydesc                     45 non-null     object
 77  typeconstructiontypeid        166 non-null    float64
 78  typeconstructiondesc          166 non-null    object
dtypes: float64(61), int64(6), object(12)
memory usage: 46.8+ MB
None
--------------------------------
Continuous Column Stats:
                 id      parcelid  airconditioningtypeid  \
count  77613.000000  7.761300e+04           21456.000000
mean   38806.000000  1.337946e+07               1.927246
std    22405.087558  8.351498e+06               3.132984
min        0.000000  1.071174e+07               1.000000
25%    19403.000000  1.158574e+07               1.000000
50%    38806.000000  1.253226e+07               1.000000
75%    58209.000000  1.411511e+07               1.000000
max    77612.000000  1.696019e+08              13.000000

       architecturalstyletypeid  basementsqft   bathroomcnt    bedroomcnt  \
count                151.000000     45.000000  77613.000000  77613.000000
mean                   7.430464    593.133333      2.214616      3.083981
std                    2.629347    460.916902      1.083469      1.275549
min                    2.000000     63.000000      0.000000      0.000000
25%                    7.000000    220.000000      2.000000      2.000000
50%                    7.000000    540.000000      2.000000      3.000000
75%                    7.000000    732.000000      3.000000      4.000000
max                   21.000000   2443.000000     20.000000     25.000000

       buildingclasstypeid  buildingqualitytypeid  calculatedbathnbr  ...  \
count           383.000000           50321.000000       74390.000000  ...
mean              3.775457               6.300491           2.309732  ...
std               0.459596               1.725771           1.001987  ...
min               1.000000               1.000000           1.000000  ...
25%               4.000000               5.000000           2.000000  ...
50%               4.000000               6.000000           2.000000  ...
75%               4.000000               8.000000           3.000000  ...
max               5.000000              12.000000          20.000000  ...

                 id      parcelid      logerror  propertylandusetypeid  \
count  77613.000000  7.761300e+04  77613.000000           77613.000000
mean   38806.000000  1.300781e+07      0.016755             259.935256
std    22405.087558  3.518717e+06      0.170887              16.965267
min        0.000000  1.071186e+07     -4.655420              31.000000
25%    19403.000000  1.153821e+07     -0.024325             261.000000
50%    38806.000000  1.253004e+07      0.006670             261.000000
75%    58209.000000  1.421101e+07      0.039295             261.000000
max    77612.000000  1.676893e+08      5.262999             275.000000

       architecturalstyletypeid  buildingclasstypeid  heatingorsystemtypeid  \
count                151.000000           383.000000           48474.000000
mean                   7.430464             3.775457               4.043054
std                    2.629347             0.459596               3.231140
min                    2.000000             1.000000               1.000000
25%                    7.000000             4.000000               2.000000
50%                    7.000000             4.000000               2.000000
75%                    7.000000             4.000000               7.000000
max                   21.000000             5.000000              24.000000

       propertylandusetypeid  storytypeid  typeconstructiontypeid
count           77613.000000         45.0              166.000000
mean              259.935256          7.0                5.987952
std                16.965267          0.0                0.155230
min                31.000000          7.0                4.000000
25%               261.000000          7.0                6.000000
50%               261.000000          7.0                6.000000
75%               261.000000          7.0                6.000000
max               275.000000          7.0                6.000000

[8 rows x 67 columns]
--------------------------------
Categorical Column Stats:
       propertycountylandusecode propertyzoningdesc taxdelinquencyflag  \
count                      77612              51361               1504
unique                       105               2039                  1
top                         0100               LAR1                  Y
freq                       29753               7457               1504

       airconditioningdesc transactiondate        propertylandusedesc  \
count                21456           77613                      77613
unique                   6             264                         15
top                Central      2017-06-30  Single Family Residential
freq                 19626            1195                      56079

       architecturalstyledesc                               buildingclassdesc  \
count                     151                                             383
unique                      4                                               5
top              Contemporary  Buildings having wood or wood and steel frames
freq                      133                                             300

       heatingorsystemdesc        propertylandusedesc storydesc  \
count                48474                      77613        45
unique                  10                         15         1
top                Central  Single Family Residential  Basement
freq                 30567                      56079        45

       typeconstructiondesc
count                   166
unique                    2
top                   Frame
freq                    165
--------------------------------
Missing Values by Column:
id                                  0
parcelid                            0
airconditioningtypeid           56157
architecturalstyletypeid        77462
basementsqft                    77568
bathroomcnt                         0
bedroomcnt                          0
buildingclasstypeid             77230
buildingqualitytypeid           27292
calculatedbathnbr                3223
decktypeid                      77100
finishedfloor1squarefeet        71640
calculatedfinishedsquarefeet     1112
finishedsquarefeet12             6650
finishedsquarefeet13            77378
finishedsquarefeet15            72855
finishedsquarefeet50            71640
finishedsquarefeet6             77068
fips                                0
fireplacecnt                    69201
fullbathcnt                      3223
garagecarcnt                    54313
garagetotalsqft                 54313
hashottuborspa                  76355
heatingorsystemtypeid           29139
latitude                            0
longitude                           0
lotsizesquarefeet                7079
poolcnt                         63352
poolsizesum                     76836
pooltypeid10                    77189
pooltypeid2                     76779
pooltypeid7                     64204
propertycountylandusecode           1
propertylandusetypeid               0
propertyzoningdesc              26252
rawcensustractandblock              0
regionidcity                     1526
regionidcounty                      0
regionidneighborhood            47101
regionidzip                       275
roomcnt                             1
storytypeid                     77568
threequarterbathnbr             69409
typeconstructiontypeid          77447
unitcnt                         26324
yardbuildingsqft17              75190
yardbuildingsqft26              77547
yearbuilt                        1170
numberofstories                 59494
fireplaceflag                   77488
structuretaxvaluedollarcnt       1265
taxvaluedollarcnt                 925
assessmentyear                      0
landtaxvaluedollarcnt            1611
taxamount                         511
taxdelinquencyflag              76109
taxdelinquencyyear              76109
censustractandblock              2095
airconditioningtypeid           56157
airconditioningdesc             56157
id                                  0
parcelid                            0
logerror                            0
transactiondate                     0
propertylandusetypeid               0
propertylandusedesc                 0
architecturalstyletypeid        77462
architecturalstyledesc          77462
buildingclasstypeid             77230
buildingclassdesc               77230
heatingorsystemtypeid           29139
heatingorsystemdesc             29139
propertylandusetypeid               0
propertylandusedesc                 0
storytypeid                     77568
storydesc                       77568
typeconstructiontypeid          77447
typeconstructiondesc            77447
dtype: int64
Missing Values by Row:
    missing_cells  percent_missing
0              26         0.329114
1              27         0.341772
2              28         0.354430
3              29         0.367089
4              30         0.379747
5              31         0.392405
6              32         0.405063
7              33         0.417722
8              34         0.430380
9              35         0.443038
10             36         0.455696
11             37         0.468354
12             38         0.481013
13             39         0.493671
14             40         0.506329
15             41         0.518987
16             42         0.531646
17             43         0.544304
18             44         0.556962
19             45         0.569620
20             46         0.582278
21             47         0.594937
22             48         0.607595
23             49         0.620253
24             50         0.632911
25             51         0.645570
26             52         0.658228
27             53         0.670886
28             54         0.683544
29             55         0.696203
30             56         0.708861
--------------------------------
--------------------------------